$primary-color: #fff;
$font-color: #000;
$danger: rgb(200, 60, 50);
$success: rgb(30, 200, 50);
$gray: rgb(60, 60, 60);

$btn-border: 2px solid;

$box-sizing: border-box;

$link-weight: 500;
$line-height: 2rem; 