header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  max-width: 1366px;
  width: 100%;
}

header nav .mobile-btn {
  display: none;
}

header nav .brand {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header nav ul a {
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
}

header nav ul a:hover {
  cursor: pointer;
  text-decoration: underline;
}

header nav ul .dropdown {
  display: block;
}

header nav .dropdown {
  display: none;
}

header nav button {
  background-color: transparent;
  border: 2px solid;
  border-color: #fff;
  border-radius: 4px;
  padding: 9px 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  color: #fff;
  font-size: 1rem;
}

header nav button:hover {
  background-color: #fff;
  border: 2px solid;
  border-color: #fff;
  border-radius: 4px;
  padding: 9px 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  color: #000;
  cursor: pointer;
}

header > div {
  background-color: #1b1a1a;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: white;
  height: 0px;
  opacity: 0;
  position: absolute;
  text-align: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  top: 86px;
  width: 100%;
}

header > div ul li {
  padding: .75rem .5rem;
}

header > div ul li a {
  text-transform: uppercase;
}

@media (max-width: 768px) {
  header nav {
    padding: 1rem;
  }
  header nav .mobile-btn {
    display: block;
  }
  header nav ul {
    display: none;
  }
  header nav .dropdown {
    display: block;
  }
}

.container {
  min-height: 100vh;
  width: 100%;
}

#page-container {
  min-height: calc(100vh - 86px);
}

.home {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../public/assets/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
}

.page-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.header-about {
  background: rgba(0, 0, 0, 0.7) url(../../public/assets/image-header-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

.header-faq {
  background: rgba(0, 0, 0, 0.7) url(../../public/assets/image-header-faq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
}

.col-6 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 50%;
}

.col-8 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 66.66667%;
}

.col-11 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 50%;
  }
  .col-md-8 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 66.66667%;
  }
  .col-md-11 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
}

.border-top {
  border-top: 1px solid black;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.border-right {
  border-right: 1px solid black;
}

.border-white {
  border-color: white;
}

.mx-auto {
  margin: 0 auto;
}

.mt-1 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 2rem;
}

.mb-3 {
  margin-bottom: 2rem;
}

.p-1 {
  padding: 1.5rem;
}

.pt-2 {
  padding-top: 1.75rem;
}

.p-3 {
  padding: 2rem;
}

.d-none {
  display: none !important;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.position-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form-inline div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

label {
  display: inline-block;
  font-weight: bolder;
  padding: 0rem 1rem;
}

.form-control {
  border: 1px solid black;
  border-radius: 6px;
  padding: .25rem .5rem;
  width: 100%;
}

.modal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 99999;
}

.modal .modal-content {
  background: white;
  border-radius: 1rem;
  color: #000;
  width: 40%;
}

.modal .modal-title, .modal .modal-body {
  padding: 1.5rem;
}

.modal-show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 768px) {
  .modal-content {
    width: 85% !important;
  }
}

.btn {
  border-radius: 6px;
  font-weight: 600;
}

.btn:hover {
  color: white;
  cursor: pointer;
}

.btn-danger {
  background-color: #c83c32;
  border: 2px solid;
  border-color: #fff;
  border-radius: 4px;
  padding: 9px 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  color: white;
  font-size: 1rem;
}

.btn-danger:hover {
  background-color: #852c25;
}

.btn-success {
  background-color: #1ec832;
  border: 2px solid;
  border-color: #fff;
  border-radius: 4px;
  padding: 9px 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  color: white;
  font-size: 1rem;
}

.btn-success:hover {
  background-color: #1a8a27;
}

.btn-white {
  background-color: transparent;
  border: 2px solid;
  border-color: #fff;
  border-radius: 4px;
  padding: 9px 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  color: #fff;
  font-size: 1rem;
}

.btn-white:hover {
  background-color: #fff;
  border: 2px solid;
  border-color: #fff;
  border-radius: 4px;
  padding: 9px 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  color: #000;
  cursor: pointer;
}

.accord-container {
  margin: 1.75rem auto;
}

.accord-title {
  border-radius: 6px;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  padding: .4rem .75rem;
  z-index: 9999999;
}

.accord-content {
  height: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.show {
  display: block;
  height: 120px;
  opacity: 1;
}

.dropdown {
  position: relative;
}

.dropdown:hover > .dropdown-container {
  display: block;
}

.dropdown .dropdown-container {
  background-color: #fff;
  border-radius: 6px;
  display: none;
  position: absolute;
  right: 20%;
  z-index: 999999;
}

.dropdown .dropdown-container .dropdown-item {
  border-bottom: 1px solid black;
  padding: .5rem .75rem;
  text-align: justify;
}

.dropdown .dropdown-container .dropdown-item:hover > a {
  text-decoration: underline;
}

.dropdown .dropdown-container .dropdown-item:last-child {
  border-bottom: none;
}

.dropdown .dropdown-container .dropdown-item a {
  color: #000;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0dada;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #7e7979;
}

main {
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 6px 8px rgba(213, 197, 197, 0.6);
          box-shadow: 2px 2px 6px 8px rgba(213, 197, 197, 0.6);
  margin: auto;
  max-width: 1366px;
}

a {
  font-weight: 500;
}

h1 {
  font-size: 3rem !important;
  font-weight: bolder;
}

h2 {
  font-size: 2.75rem !important;
  font-weight: bolder;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
}

footer {
  background-color: #1b1a1a;
  color: white;
  padding: 1.5rem 2rem;
  width: 100%;
}

footer strong {
  display: block;
  padding: .5rem .2rem;
}

footer a {
  color: white;
  font-size: 1.5rem;
}

.img-fluid {
  height: 100%;
  width: 100%;
}

.bg-gray {
  background-color: #3c3c3c;
  color: #fff !important;
}
