<div class="text-center">
    <strong>
        Dev: Brayan Miguel Rodríguez Ríos
    </strong>
    <div class="d-flex justify-content-between pt-2 border-top border-white">
        <div>
            <a href="https://www.linkedin.com/in/brayan-rodr%C3%ADguez-b86a92215/" rel="noreferrer" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div>
            <span>
                2022 &copy;
            </span>
        </div>
    </div>
</div>