<nav>
    <a class="brand">
        <img src="./assets/logo.svg" />
    </a>
    <div class="mobile-btn">
        <button type='button' id="mobile-btn" class="btn btn-white">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
    <ul>
        <li>
            <a id='home'>Home</a>
        </li>
        <li>
            <a id="about">About Us</a>
        </li>
        <li>
            <a id='faq'>FAQ</a>
        </li>
        <li class="dropdown">
            <button type="button">
                Lang
            </button>
            <div class="dropdown-container">
                <div class="dropdown-item">
                    <a href="#">Español</a>
                </div>
                <div class="dropdown-item">
                    <a href="#">English</a>
                </div>
                <div class="dropdown-item">
                    <a href="">Français</a>
                </div>
            </div>
        </li>
    </ul>
    <div class="dropdown">
        <button type="button">
            Lang
        </button>
        <div class="dropdown-container">
            <div class="dropdown-item">
                <a href="#">Español</a>
            </div>
            <div class="dropdown-item">
                <a href="#">English</a>
            </div>
            <div class="dropdown-item">
                <a href="">Français</a>
            </div>
        </div>
    </div>
</nav>
<div id="mobile-nav">
    <ul>
        <li>
            <a class='nav-home'>Home</a>
        </li>
        <li>
            <a class="nav-about">About Us</a>
        </li>
        <li>
            <a class='nav-faq'>FAQ</a>
        </li>
    </ul>
</div>